Source: ros-rpmdemo-msg-packages-union
Section: misc
Priority: optional
Maintainer: Scott K Logan <logans@cottsay.net>
Build-Depends: debhelper (>= 9.0.0), cmake, ros-rpmdemo-ros-workspace
Homepage: https://github.com/cottsay/ros-rpmdemo
Standards-Version: 3.9.2

Package: ros-rpmdemo-msg-packages-union
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-rpmdemo-ros-workspace
Description: ROS RPM demo package
